<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reams.mapper.SysCustomerMapper">

    <resultMap id="BaseResultMap" type="com.reams.entity.SysCustomer">
        <id column="customer_id" property="id"/>
        <result column="customer_password" property="password"/>
        <result column="customer_nickname" property="nickname"/>
        <result column="customer_phone" property="phone"/>
        <result column="customer_email" property="email"/>
        <result column="customer_avatar" property="avatar"/>
        <result column="customer_gender" property="gender"/>
        <result column="customer_status" property="status"/>
        <result column="customer_create_time" property="createTime"/>
        <result column="customer_update_time" property="updateTime"/>
    </resultMap>

    <select id="selectByPhone" resultMap="BaseResultMap">
        SELECT * FROM sys_customer WHERE customer_phone = #{phone}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT * FROM sys_customer ORDER BY customer_create_time DESC
    </select>

    <select id="selectPage" resultMap="BaseResultMap">
        SELECT * FROM sys_customer ORDER BY customer_create_time DESC LIMIT #{offset}, #{limit}
    </select>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT * FROM sys_customer WHERE customer_id = #{id}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sys_customer (
            customer_password, customer_nickname, customer_phone,
            customer_email, customer_avatar, customer_gender, customer_status
        ) VALUES (
            #{password}, #{nickname}, #{phone}, #{email}, #{avatar},
            #{gender}, #{status}
        )
    </insert>

    <update id="update">
        UPDATE sys_customer
        <set>
            <if test="password != null and password != ''">customer_password = #{password},</if>
            <if test="nickname != null and nickname != ''">customer_nickname = #{nickname},</if>
            <if test="phone != null and phone != ''">customer_phone = #{phone},</if>
            <if test="email != null and email != ''">customer_email = #{email},</if>
            <if test="avatar != null and avatar != ''">customer_avatar = #{avatar},</if>
            <if test="gender != null">customer_gender = #{gender},</if>
            <if test="status != null">customer_status = #{status},</if>
        </set>
        WHERE customer_id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM sys_customer WHERE customer_id = #{id}
    </delete>

    <select id="count" resultType="long">
        SELECT COUNT(*) FROM sys_customer
    </select>

    <select id="selectPageWithSearch" resultMap="BaseResultMap">
        SELECT * FROM sys_customer
        <where>
            <if test="keyword != null and keyword != ''">
                AND (customer_nickname LIKE CONCAT('%', #{keyword}, '%')
                     OR customer_phone LIKE CONCAT('%', #{keyword}, '%'))
            </if>
            <if test="status != null">
                AND customer_status = #{status}
            </if>
        </where>
        ORDER BY customer_create_time DESC
        LIMIT #{offset}, #{limit}
    </select>

    <select id="countWithSearch" resultType="long">
        SELECT COUNT(*) FROM sys_customer
        <where>
            <if test="keyword != null and keyword != ''">
                AND (customer_nickname LIKE CONCAT('%', #{keyword}, '%')
                     OR customer_phone LIKE CONCAT('%', #{keyword}, '%'))
            </if>
            <if test="status != null">
                AND customer_status = #{status}
            </if>
        </where>
    </select>

</mapper>
